/*
0 - 600px:      Phone
600 - 900px:    Tablet Portrait
900 - 1200px:   Tablet Landscape
1200 - 1800px:  Normal styles apply
1800px+:        Big Desktop
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 10px / 16px = 0.625  sets to 10px*/ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-1 {
    width: calc(1 * ((100% - (1 - 1) * 6rem) / 1)  + (1 - 1) * 6rem); }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
  .row .col-1-of-5 {
    width: calc(1 * ((100% - (5 - 1) * 6rem) / 5)  + (1 - 1) * 6rem); }
  .row .col-1-of-7 {
    width: calc(1 * ((100% - (7 - 1) * 6rem) / 7)  + (1 - 1) * 6rem); }

.container {
  margin: 0 auto;
  width: 90%;
  margin-top: 10vh; }

.calendar {
  margin: 0 auto;
  width: 50rem;
  border-radius: 20px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to left top, rgba(119, 119, 119, 0.8), rgba(0, 0, 0, 0.8)); }
  .calendar__month-year-box {
    text-align: center;
    height: 7rem;
    font-weight: 700; }
  .calendar__month, .calendar__year {
    display: inline-block;
    font-size: 2.4rem;
    padding: 1rem;
    letter-spacing: .5rem; }
  .calendar__month {
    padding-right: 1rem; }
  .calendar__year {
    padding-left: 0; }
  .calendar__arrow-left, .calendar__arrow-right {
    margin-top: 1.4rem;
    fill: #fff;
    height: 2.5rem;
    width: 2.5rem;
    transition: all .2s; }
    .calendar__arrow-left:hover, .calendar__arrow-right:hover {
      cursor: pointer;
      transform: translateY(-2px); }
    .calendar__arrow-left:active, .calendar__arrow-right:active {
      transform: translateY(2px); }
  .calendar__arrow-left {
    float: left;
    margin-left: 2rem; }
  .calendar__arrow-right {
    float: right;
    margin-right: 2rem; }
  .calendar__day-names {
    font-size: 0;
    text-align: center; }
  .calendar__weekday, .calendar__day-square {
    display: inline-block;
    font-size: 1.2rem;
    width: 14.2857%; }
  .calendar__weekday {
    padding: 1rem; }
  .calendar__week {
    font-size: 0;
    text-align: center; }
  .calendar__day-square {
    padding: 1.671rem 0; }
  .calendar__day-link {
    display: inline-block;
    padding: 1rem;
    border-radius: 50%;
    text-decoration: none;
    color: #fff; }
    .calendar__day-link:hover, .calendar__day-link--today {
      color: #333;
      background-color: #f7f7f7;
      cursor: pointer;
      border-radius: 50%;
      transition: all .4s; }
    .calendar__day-link--today {
      color: rgba(247, 110, 110, 0.979); }
    .calendar__day-link--out {
      color: #999; }
      .calendar__day-link--out:hover {
        background-color: transparent;
        color: #999; }
  .calendar__close:link, .calendar__close:visited {
    color: #777;
    position: absolute;
    top: -1rem;
    right: 0;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .calendar__close:hover {
    color: #f7f7f7; }
  .calendar__book {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    transition: all .3s;
    visibility: hidden;
    opacity: 0; }
    .calendar__book--active {
      visibility: visible;
      opacity: 1; }
    .calendar__book-container {
      width: 87%;
      height: 50rem;
      background-image: linear-gradient(to left top, rgba(51, 51, 51, 0.95), rgba(0, 0, 0, 0.95));
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      padding: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .calendar__book-header {
      height: 14.3%;
      border-bottom: 1px solid #f7f7f7;
      position: relative; }
      .calendar__book-header-arrow-left, .calendar__book-header-arrow-right {
        position: absolute;
        margin: 0;
        top: 1.5rem; }
      .calendar__book-header-arrow-left {
        left: 3rem; }
      .calendar__book-header-arrow-right {
        right: 4rem; }
      .calendar__book-header-box {
        width: 82.19%;
        height: 100%;
        margin-left: calc((1 / 12) * 100%);
        padding-top: 2rem; }
      .calendar__book-header-item {
        float: left;
        height: 100%;
        width: calc((1 / 5) * 100%);
        text-align: center;
        font-size: 1.4rem;
        letter-spacing: .2rem; }
    .calendar__book-content {
      height: 85.7%;
      overflow-y: auto;
      border-bottom: 1px solid #f7f7f7; }
    .calendar__book-header-box::after, .calendar__book-row::after {
      content: "";
      display: table;
      clear: both; }
    .calendar__book-row {
      height: calc((1 / 12) * 100%);
      width: 100%;
      border-left: 1px solid #f7f7f7; }
    .calendar__book-time, .calendar__book-event {
      height: 100%;
      float: left;
      border-bottom: 1px dashed #f7f7f7;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.4rem; }
      .calendar__book-time:not(:last-child), .calendar__book-event:not(:last-child) {
        border-right: 1px solid #f7f7f7; }
    .calendar__book-time {
      width: calc((1 / 12) * 100%);
      color: #fff;
      padding-top: .55rem; }
    .calendar__book-event {
      width: calc((1 / 6) * 100%);
      transition: all .2s; }
      .calendar__book-event--available {
        color: #2ecc71; }
        .calendar__book-event--available:hover {
          background-color: #2ecc71;
          color: white; }
      .calendar__book-event--unavailable {
        color: #e74c3c; }
        .calendar__book-event--unavailable:hover {
          background-color: #e74c3c;
          color: white; }
    .calendar__book-btn {
      width: 100%;
      height: 100%;
      transition: all .2s;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.4rem;
      padding-top: .55rem;
      display: block;
      border: none;
      text-decoration: none;
      cursor: pointer; }
      .calendar__book-btn--available {
        color: #2ecc71; }
        .calendar__book-btn--available:hover {
          background-color: transparent;
          background-image: linear-gradient(to left top, rgba(46, 204, 113, 0.8), rgba(20, 75, 43, 0.8));
          color: #f7f7f7; }
      .calendar__book-btn--unavailable {
        color: #e74c3c; }
        .calendar__book-btn--unavailable:hover {
          background-color: transparent;
          background-image: linear-gradient(to left top, rgba(231, 76, 60, 0.8), rgba(131, 33, 22, 0.8));
          color: #f7f7f7; }
  .calendar__confirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 19999;
    transition: all .3s;
    visibility: hidden;
    opacity: 0; }
    .calendar__confirm--active {
      visibility: visible;
      opacity: 1; }
    .calendar__confirm-container {
      width: 50rem;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
      background-color: #fff;
      border-radius: 6px;
      padding: 3rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .calendar__close--form:link, .calendar__close--form:visited {
    top: 0;
    right: 1rem; }
  .calendar__close--form:hover {
    color: #2ecc71; }
  .calendar__form {
    position: relative;
    color: #333;
    font-size: 2rem; }
    .calendar__form-input {
      width: 100%;
      display: block;
      font-size: 1.5rem;
      padding: 1.5rem 2rem;
      background-color: #f7f7f7;
      border: none;
      transition: all .3s;
      color: #333;
      border-radius: 3px; }
      .calendar__form-input::-webkit-input-placeholder {
        color: #999; }
      .calendar__form-input:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        border: 1px solid #2ecc71; }
    .calendar__form-group {
      display: block; }
      .calendar__form-group:not(:last-child) {
        margin-bottom: 2rem; }
    .calendar__form-label {
      display: block;
      text-transform: none;
      margin-bottom: .5rem;
      font-weight: 300;
      color: #333; }
    .calendar__form-submit {
      display: block;
      width: 100%;
      font-size: 2.4rem;
      font-family: 'Lato', sans-serif;
      padding: 1.5rem 2rem;
      text-transform: uppercase;
      background-color: #2ecc71;
      color: #fff;
      border: none;
      border-radius: 3px;
      transition: all .2s; }
      .calendar__form-submit:hover {
        transform: translateY(-2px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
      .calendar__form-submit:active {
        transform: translateY(2px); }
  .calendar__message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 29999;
    background-color: rgba(0, 0, 0, 0.6);
    color: #333;
    visibility: hidden;
    opacity: 0; }
    .calendar__message--active {
      visibility: visible;
      opacity: 1; }
    .calendar__message-container {
      width: 45rem;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
      background-color: #fff;
      border-radius: 6px;
      padding: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      color: #333;
      border: 1px solid #f7f7f7;
      visibility: hidden;
      opacity: 0; }
      .calendar__message-container--active {
        visibility: visible;
        opacity: 1; }
    .calendar__message-content {
      background-image: linear-gradient(to left top, rgba(51, 51, 51, 0.95), rgba(0, 0, 0, 0.95));
      color: #333; }
    .calendar__message-status {
      text-align: center;
      margin-bottom: 3rem;
      border-radius: 6px;
      padding: 1rem;
      background-color: #2ecc71;
      color: #fff;
      margin: 0 auto;
      margin-bottom: 1rem; }
    .calendar__message-info {
      font-size: 1.6rem;
      text-transform: none; }
      .calendar__message-info-box {
        border-radius: 6px;
        margin-bottom: 1rem;
        font-weight: 300;
        padding: .5rem 20%;
        background-color: #f7f7f7; }
        .calendar__message-info-box--success {
          border: 1px solid #2ecc71; }
        .calendar__message-info-box--failed {
          border: 1px solid #e74c3c; }
    .calendar__message-close {
      cursor: pointer;
      border-radius: 6px;
      padding: .5rem 0;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .2rem;
      color: #2ecc71;
      background-color: #fff;
      font-weight: 400;
      font-size: 2.4rem;
      margin-bottom: 0; }
      .calendar__message-close--success {
        border: 1px solid #2ecc71;
        color: #2ecc71; }
      .calendar__message-close--failed {
        border: 1px solid #e74c3c;
        color: #e74c3c; }
    .calendar__message-span {
      padding-left: 2rem;
      font-weight: 400; }
